<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/javascripts/microevent.js"></script>
    <script src="/javascripts/library.js"></script>
    <script src="/javascripts/UI.js"></script>
    <link rel="stylesheet" media="all" href="/stylesheets/screen.css">
  </head>
  <body>
    <div id="container">
      <div id="brush_strokes"></div>

      <div id="main_navigation">
        <span id="main_nav_date">May 21-23</span>
        <a href="http://www.eventbrite.com/event/2571529514" id="register_now_small">Register Now</a>
        <a href="/#index" id="home_link">Home</a>
        <div class="left">
          <a href="/#information">Information</a>
          <a href="/#speakers">Speakers</a>
        </div>
      </div>

      <div id="content">
        {{ content }}
      </div>

      <div id="footer">
        &copy; Copyright 2012 EngineYard
      </div>

    </div> <!-- /#container -->
  </body>
</html>
