---
---
<!DOCTYPE html>
<html>
  <head>
    <title>JRubyConf 2012: {{ page.title }}&mdash;May 21-23&mdash;Minneapolis, MN</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/news/javascripts/twitter.js{% asset_revision %}"></script>
    <script src="/javascripts/footer.js{% asset_revision %}"></script>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" media="all" href="/stylesheets/screen.css{% asset_revision %}">
    <link rel="stylesheet" media="all" href="/news/stylesheets/news.css{% asset_revision %}">
    <link rel="alternate" type="application/atom+xml" title="JRubyConf Updates" href="/atom.xml">
    {% include ga.html %}
  </head>
  <body>
    <div id="container">
      <div id="brush_strokes"></div>

      <div id="main_navigation">
        <span id="main_nav_date">May 21-23</span>
        <a href="http://www.eventbrite.com/event/2571529514" id="register_now_small" class="red-button" target="_blank">Register Now</a>
        <a href="/#index" id="home_link">Home</a>
        <div class="left">
          <a href="/#information">Information</a>
          <a href="/#speakers">Speakers</a>
        </div>
      </div>

      <div id="content">
        <div id="news">
          <div class="left-column">
            {{ content }}
          </div>
          <div class="right-column">
            {% include badges.html %}
            <div id="twitter_badge">
              <img src="/news/images/redbird.png">
              <h2 class="follow"><a href="http://twitter.com/jrubyconf" title="Follow @JRubyConf on Twitter">@JRubyConf</a></h2>
            </div>
            <div id="twitter">
              <ul id="twitter_update_list"></ul>
            </div>
            <script type="text/javascript" src="http://api.twitter.com/1/statuses/user_timeline.json?screen_name=jrubyconf&amp;callback=twitterCallback2&amp;count=10&amp;include_rts=1&amp;exclude_replies=1"></script>
          </div>
        </div>
      </div>

      {% include footer.html %}
    </div> <!-- /#container -->
  </body>
</html>
