<div id="dashboard">
  <div class="content">
    <div id="date" class="pane">
      <span id="time"></span><br/><span id="day"></span>
    </div>

    <div id="nextup" class="pane">
      <span>Next up:</span><br/>
      <span id="talk"></span>
    </div>

    <div id="tweet" class="pane">&nbsp;</div>

    <div id="photo" class="pane">&nbsp;</div>
  </div>
</div>