<div id="footer">
  <div class="item">Presented by</div>
  <div class="item"><a href="http://www.engineyard.com/" target="_blank"><img src="/images/ey.png" alt="Engine Yard"/></a></div>
  <div class="item"><a href="http://www.edgecase.com/" target="_blank"><img src="/images/edgecase.png" alt="EdgeCase"/></a></div>
  <div class="item"><a href="http://www.bruichladdich.com/" target="_blank"><img src="/images/bruichladdich.png" alt="Bruichladdich: Progressive Hebridean Distillers"/></a></div>
  <div class="item right"><a href="/jrubyconf2012-sponsor.pdf" id="your_logo_here" class="red-button" target="_blank"><div class="white-arrow arrow-left rotate-left"></div>Your Logo Here</a></div>
</div>
