<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/javascripts/microevent.js"></script>
    <script src="/javascripts/library.js"></script>
    <script src="/javascripts/UI.js"></script>
    <link rel="stylesheet" media="all" href="/stylesheets/screen.css">
  </head>
  <body>
    <div id="container">
      <div id="brush_strokes"></div>

      <div id="main_navigation">
        <a href="#speakers">Speakers</a>
        <a href="#information">Information</a>
        <a href="#registration">Registration</a>
        <a href="#sponsors">Sponsors</a>
      </div>

      <div id="content">
        <div id="index" class="scene">
          <div class="content">
            <div class="left">
              May 21-23 2012<br> Minneapolis, MN
            </div>
            <div class="right">
              <a href="#information">Information</a><br>
              <a href="#speakers">Speakers</a>
            </div>
            <a href="http://www.eventbrite.com/event/2571529514" id="register_now_large">Register Now</a>
          </div>
        </div>
        
        <!-- 
        
        <a href="http://twitter.com/jrubyconf" id="twitter" target="_blank">JrubyConf on Twitter</a>
        <a href="http://edgecase.com" id="edgecase" target="_blank">EdgeCase</a>
        <a href="http://engineyard.com" id="engineyard" target="_blank">EngineYard</a>
        -->
      </div> <!-- /#content -->

      <div id="footer">
        &copy; Copyright 2012 EngineYard
      </div>

    </div> <!-- /#container -->
  </body>
</html>