<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" media="all" href="/stylesheets/screen.css">
  </head>
  <body>
    <div id="brush_strokes"></div>
    <div id="content">
      <div id="text">
        <h1>4th Annual JRuby Conference</h1>
        <p>May 21-23, 2012 in Minneapolis, Minnesota</p>
      </div>
      <a href="http://www.eventbrite.com/event/2571529514" id="register_now">Register Now</a>
      <a href="http://twitter.com/jrubyconf" id="twitter" target="_blank">JrubyConf on Twitter</a>
      <a href="http://edgecase.com" id="edgecase" target="_blank">EdgeCase</a>
      <a href="http://engineyard.com" id="engineyard" target="_blank">EngineYard</a>
    </div>
  </body>
</html>
