<div id="information" class="scene">
  <div class="content">
    <div class="column">
      <h1>Area</h1>
      <p>This year's JRubyConf is located in the historic Mill District, the birthplace of Minneapolis. The area is centrally located and adjacent to the St. Anthony Falls portion of the Mississippi River. After a long history of industry, this eclectic neighborhood has re-emerged as the cultural center of the city, filled with parks, lofts, restaurants and of course, great bars. Want to learn more about MPLS? <a href="http://www.minneapolis.org/">Check this out</a>.</p>
    </div>
    <div class="column">
      <h1>Venue</h1>
      <p><a href="http://www.flickr.com/photos/peterjsieger/3766972759/" title="IMG_4592 by Pete Sieger, on Flickr"><img src="http://farm3.staticflickr.com/2527/3766972759_a713239aa8_m.jpg" width="240" height="160" alt="IMG_4592"></a></p>
      <p>The internationally acclaimed Guthrie theatre has a great history behind it, and is one of the top attractions in the Twin Cities. Founded in 1963 and rebuilt in 2006, the theatre facilitates performances, production, education and professional training. Its architecture is appreciated from coast to coast, and the views it affords of the Mississippi river are appreciated by many a Minneapolitan.</p>
    </div>
    <div class="column last">
      <h1>Hotel</h1>
      <p>We have reserved a block of rooms at two different hotels near the conference. These rates are valid until <em>April 19</em>, so book early!</p>
      <p>The Aloft is one block from the Guthrie. The Westin is further, but there is a shuttle to the Aloft.</p>
      <p><a href="http://www.starwoodmeeting.com/Book/jruby2012"><img src="/images/aloft.png" alt="Aloft, a vision of W Hotels"></a></p>
      <p id="per_night">$129/night</p>
      <p><a href="http://www.starwoodmeeting.com/Book/jruby"><img src="/images/westin.png" alt="Book a room at the Westin Minneapolis"></a></p>
      <p id="per_night">$162/night</p>
    </div>
  </div>
</div> <!-- /#information -->
