<div id="information" class="scene">
  <div class="content">
    <div class="column">
      <h1>Area</h1>
      <p>This year's JRubyConf is located in the historic Mill District, the birthplace of Minneapolis. The area is centrally located and adjacent to the St. Anthony Falls portion of the Mississippi River. After a long history of industry, this eclectic neighborhood has re-emerged as the cultural center of the city, filled with parks, lofts, restaurants and of course, great bars. Want to learn more about MPLS? <a href="http://www.minneapolis.org/">Check this out</a>.</p>
      <p><a href="http://maps.google.com/maps/ms?msa=0&amp;msid=209189716588952202964.0004b6e8c072a226e0f2b&amp;ie=UTF8&amp;t=m&amp;ll=44.97805,-93.255172&amp;spn=0.004554,0.006437&amp;z=16&amp;source=embed"><img src="/images/staticmap.png"><br />View JRubyConf 2012 Places in a larger map</a></p>
    </div>
    <div class="column">
      <h1>Venue</h1>
      <p><a href="http://www.flickr.com/photos/peterjsieger/3766972759/" title="IMG_4592 by Pete Sieger, on Flickr"><img src="http://farm3.staticflickr.com/2527/3766972759_a713239aa8_m.jpg" width="240" height="160" alt="IMG_4592"></a></p>
      <p>The internationally acclaimed Guthrie theater has a great history behind it, and is one of the top attractions in the Twin Cities. Founded in 1963 and rebuilt in 2006, the theater facilitates performances, production, education and professional training. Its architecture is appreciated from coast to coast, and the views it affords of the Mississippi river are appreciated by many a Minneapolitan.</p>
      <h1>Transportation</h1>
      <p>
        To get to the conference from <a href="http://www.mspairport.com/">MSP airport</a>,
	take the <a href="http://metrotransit.org/hiawatha-line-route-55.aspx">Light Rail</a>
	and get off at the <em>Metrodome</em> station (for the Guthrie or Aloft hotel)
	or at the <em>Nicollet Mall</em> station (for the Westin).
      </p>
      <p> Cabs from the airport to downtown will deplete your pocketbook by about $38-$49.</p>
    </div>
    <div class="column last">
      <h1>Hotel</h1>
      <p>
	We have reserved blocks of rooms at two hotels. These rates
	are <em>valid until April 19</em>, so book early!
      </p>
      <p>
	The Aloft is the closer of the two hotels, just one block from
	the Guthrie. There is a shuttle that runs between the two hotels so you
	can get back and forth from the conference to Nicollet Mall
	and other parts of Downtown.
      </p>
      <p id="per_night"><a href="http://www.starwoodmeeting.com/Book/jruby2012" target="_blank"><img src="/images/aloft.png" alt="Book a room at Aloft, a vision of W Hotels">$129/night</a></p>
      <p id="per_night"><a href="http://www.starwoodmeeting.com/Book/jruby" target="_blank"><img src="/images/westin.png" alt="Book a room at the Westin Minneapolis">$162/night</a></p>
      <p ></p>
    </div>
  </div>
</div> <!-- /#information -->
