<div id="information" class="scene">
  <div class="content">
    <div class="column">
      <h1>Area</h1>
      <p>JRubyConf is only minutes from the National Mall, the heart of Washington DC. This gives attendees easy access to the Smithsonian Museums, the Capitol building, the White House and more. Steps away you will find a Metro stop, offering access to everything Washington DC has to offer. And of course, it is easily accessible to those lucky enough to live near the nation's capital.</p>
    </div>
    <div class="column">
      <h1>Venue</h1>
      <p>The conference will be hosted at the Kellogg Conference Center. The conference center is on the campus of Gallaudet University. Located in downtown DC the campus is less than two miles from the Nation's Capitol and the start of the National Mall.</p>
      <p>If you live in the DC area, you are in luck. A short 5-minute walk away you will find the Metro. Hop on the complimentary shuttle or grab a cab and you find yourself at Union Station within minutes.</p>
    </div>
    <div class="column last">
      <h1>Hotel</h1>
      <p id="per_night">$195 per Night</p>
      <p>We have a reserved block of rooms for discounted rate of 195 a night reserved at the conference center.</p>
      <p>To make your reservation call the Hotel at 202-651-6000 and mention the JRubyConf discount. You can also reserve online through their website and using the group id 19814 and password 37006158.</p>
    </div>
  </div>
</div> <!-- /#information -->