<div id="intro" class="scene">
  <div class="content">
    <div class="left">
      <a href="http://www.eventbrite.com/event/2571529514" id="register_now_large" class="red-button" target="_blank">Register</a>
      <a href="/jrubyconf2012-sponsor.pdf" class="red-button" target="_blank">Sponsor</a>
    </div>
    <div class="right">
      <a href="#information">Information</a><br>
      <a href="#speakers">Speakers</a><br>
      <a href="#sponsors">Sponsors</a><br>
      <a href="/news">News</a>
    </div>
    <div class="bottom">
      <div>May 21-23 2012&mdash;Minneapolis, MN</div>
    </div>
  </div>
</div> <!-- /#index -->
