<div id="intro" class="scene">
  <div class="content">
    <div class="left">
      May 21-23 2012<br>
      Minneapolis, MN
    </div>
    <div class="right">
      <a href="#information">Information</a><br>
      <a href="#speakers">Speakers</a><br>
      <a href="/jrubyconf2012-sponsor.pdf" target="_blank">Sponsors</a><br>
      <a href="/news">News</a>
    </div>
    <a href="http://www.eventbrite.com/event/2571529514" id="register_now_large" class="red-button" target="_blank">Register Now</a>
  </div>
</div> <!-- /#index -->
