<div id="intro" class="scene">
  <div class="content">
    <div class="left">
      May 21-23 2012<br>
      Minneapolis, MN
    </div>
    <div class="right">
      <a href="#information">Information</a><br>
      <a href="#speakers">Speakers</a><br>
      <a href="#sponsors">Sponsors</a><br>
      <a href="/news">News</a>
    </div>
    <div class="bottom-buttons">
      <a href="#proposals" class="red-button">Submit a Proposal</a>
      <a href="http://www.eventbrite.com/event/2571529514" id="register_now_large" class="red-button" target="_blank">Register Now</a>
    </div>
  </div>
</div> <!-- /#index -->
