<!DOCTYPE html>
<html>
  <head>
    <title>JRubyConf 2012&mdash;May 21-23&mdash;Minneapolis, MN</title>
    <% if development? || test? %><script src="/javascripts/jquery-1.7.1.js"></script>
    <script src="/javascripts/jquery.validate.js"></script><% else %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script><% end %>
    <% if use_ui? %><script src="/javascripts/UI.js"></script>
    <% end %><script src="/javascripts/library.js"></script>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" media="all" href="/stylesheets/screen.css">
    <link rel="alternate" type="application/atom+xml" title="Atom" href="/atom.xml">
    <% unless development? || test? %><script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28652213-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script><% end %>
  </head>
  <body>
    <div id="container">
      <div id="brush_strokes"></div>

      <div id="main_navigation">
        <span id="main_nav_date">May 21-23</span>
        <a href="http://www.eventbrite.com/event/2571529514" id="register_now_small" class="red-button" target="_blank">Register Now</a>
        <a href="/#index" id="home_link">Home</a>
        <div class="left">
          <a href="/#information">Information</a>
          <a href="/#speakers">Speakers</a>
        </div>
      </div>

      <div id="content">
        <%= yield %>
      </div> <!-- /#content -->

      <%= erb :footer %>
    </div> <!-- /#container -->
  </body>
</html>