<div id="static">
  <div class="content">
    <h1>Four-oh-four</h1>
    Maybe you want to go
    <a href="/" class="red-button">
      <div class="white-arrow arrow-left rotate-left"></div>Home
    </a>
  </div>
</div>