<div id="intro">
  <div class="content">
    Four-oh-four
    <div class="left">
      <a href="/" class="red-button">
        <div class="white-arrow arrow-left rotate-left"></div>Home
      </a>
    </div>
  </div>
  </a>
</div>