<div id="static">
  <div class="content">
    <h1>Call for Proposals has closed</h1>

    <p>
      The JRubyConf Call for Proposals has closed. Check back soon for the <a href="/#schedule">full schedule</a>. Thank you for your interest, and we hope you'll still <a href="http://www.eventbrite.com/event/2571529514">join us for the conference</a>!
    </p>
  </div>
</div>