<div id="schedule" class="scene">
  <a href="#speakers" id="speakers_link">Speakers</a>
  <div class="content">
    <h1 class="heading">Schedule</h1>
    <div class="left">
      <h2>Tuesday</h2>
      <table cellspacing="0" cellpadding="0" border="0">
        <% 12.times do %>
          <tr>
            <td class="time">08:00a - 08:45a</td>
            <td class="title not_talk">Break</td>
          </tr>
        <% end %>
        <tr>
          <td class="time">08:00a - 08:45a</td>
          <td class="title">Why I love TorqueBox (Why You Will Too)</td>
        </tr>
      </table>
    </div>

    <div class="right">
      <h2>Wednesday</h2>
      <table cellspacing="0" cellpadding="0" border="0">
      <% 13.times do %>
        <tr>
          <td class="time">08:00a - 08:45a</td>
          <td class="title">Why I love TorqueBox (Why You Will Too)</td>
        </tr>
      <% end %>
      </table>
    </div>
  </div>
</div> <!-- /#schedule -->