<div id="static">
  <div class="content">
    <h1>Uh oh</h1>
    <p>
      Nobody's perfect! Some bad code slipped into production. Sorry about that.
    </p>
    <!-- <%= h env['sinatra.error'].to_s %> -->
    <!-- <%= env['sinatra.error'].backtrace[0..10].join("\n").gsub(/--+/, '_') %> -->
    <p>
      Maybe you want to go
      <a href="/" class="red-button">
        <div class="white-arrow arrow-left rotate-left"></div>Home
      </a>
    </p>
  </div>
</div>