<div id="speakers" class="scene">
  <a href="#schedule" id="schedule_link" class="red-button rotate-right">
    <div class="white-arrow arrow-left"></div>Schedule<div class="white-arrow arrow-right"></div>
  </a>
  <div class="content">
    <h1 class="heading">Speakers</h1>
    <div id="speakers_listing">
      <%= partial(:speaker, :collection => SPEAKERS) %>
    </div>
  </div>
  <a href="#proposals" id="proposals_link" class="red-button">
    <div class="white-arrow arrow-left flip-vertical"></div>Submit a Proposal<div class="white-arrow arrow-right flip-vertical"></div>
  </a>
</div> <!-- /#speakers -->
