<div id="sponsors" class="scene">
  <div class="content">
    <h1>Sponsors&mdash;Thank You!</h1>
    <div class="levels">
      <div class="level host"><h3>Hosted by</h3></div>

      <div class="level lsup"><h3>Lake Superior sponsors</h3></div>

      <div class="level rlk"><h3>Red Lake sponsors</h3></div>

      <div class="level mtka"><h3>Lake Minnetonka sponsors</h3></div>

      <div class="level cal"><h3>Lake Calhoun sponsors</h3></div>

      <div class="level whisky"><h3>Whisky sponsor</h3></div>

      <div class="level sticker"><h3>Sticker sponsor</h3></div>

      <div class="level lanyard"><h3>Lanyard sponsor</h3></div>

      <div class="level media"><h3>Media sponsor</h3></div>

      <div class="clear"></div>
    </div>
    <div class="sponsor-button">
      <div><a href="/jrubyconf2012-sponsor.pdf" id="your_logo_here" class="red-button" target="_blank">Download Prospectus</a></div>
    </div>
  </div>
</div>