<div id="static">
  <div class="content">
    <h1>Thank you, <%= h proposal.name %>!</h1>

    <p>Save the link below. If you want to <a href="<%= proposal_uri proposal.key %>">edit your proposal</a>, you can do so up until the submission deadline of <%= SUBMISSION_DEADLINE %>.</p>

    <p><input id="edit_link" type="text" value="<%= proposal_url proposal.key %>"/></p>

    <div>
      <a href="/#proposals">Submit another proposal</a> or go
      <a href="/" class="red-button">
        <div class="white-arrow arrow-left rotate-left"></div>Home
      </a>
    </div>
  </div>
</div>