html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
a{font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0}


html, body {
  background: #ece3c1 url(/images/background.gif);
}

#brush_strokes {
  height     : 221px;
  margin-top : -20px;
  background : url(/images/brush_strokes.gif) no-repeat 50% 0;
}

#container {
  position   : absolute;
  top        : 0;
  right      : 0;
  bottom     : 0;
  left       : 0;
  background : url(/images/header_brushwork.png) no-repeat 50% 0;
}

#content {
  position    : absolute;
  top         : 0;
  right       : 0;
  bottom      : 70px;
  left        : 0;
  background  : url(/images/content.png) no-repeat;
}

#footer {
  position    : absolute;
  right       : 0;
  bottom      : 0;
  left        : 0;
  height      : 70px;
  font-size   : 14px;
  line-height : 70px;
  background  : #f0e9d3 url(/images/footer_shadow.gif) repeat-x;
}


/* Main Navigation
------------------------------------------------- */

#main_navigation {
  position       : absolute;
  top            : 25px;
  left           : 50%;
  height         : 73px;
  width          : 960px;
  margin-left    :-480px ;
  color          : #fff;
  font-size      : 24px;
  line-height    : 73px;
  text-transform : uppercase;
  z-index        : 1;
  background     : url(/images/conf_logo_white.png) no-repeat 50% 0;
}

#main_navigation a {
  color          : #fff;
}

#register_now_small {
  position    : absolute;
  top         : 50%;
  right       : 0;
  width       : 140px;
  height      : 33px;
  margin-top  :-16px;
  text-indent :-999em;
  background  : url(/images/register_button_small.gif);
}

#main_nav_date {
  position : absolute;
  left     : 550px;
}



/* Index Scene
------------------------------------------------- */

#index .content {
  position       : absolute;
  top            : 230px;
  left           : 50%;
  width          : 960px;
  height         : 400px;
  margin-left    :-480px;
  font-size      : 24px;
  line-height    : 150%;
  text-transform : uppercase;
  background     : url(/images/conf_logo.png) no-repeat 50% 0;
}

#index .left, #index .right {
  position   : absolute;
  top        : 95px;
  width      : 280px;
}

#index .left {
  left       : 0;
  text-align : right;
}

#index .right { right: 0; }

#index a {
  color: #000;
}

#register_now_large {
  position    : absolute;
  top         : 350px;
  left        : 50%;
  width       : 200px;
  height      : 47px;
  margin-left : -100px;
  text-indent : -999em;
  background  : url(/images/register_button.gif);
}





#twitter {
  position    : absolute;
  top         : 189px;
  left        : 624px;
  width       : 111px;
  height      : 37px;
}

#edgecase {
  position    : absolute;
  top         : 341px;
  left        : 354px;
  width       : 177px;
  height      : 56px;
}

#engineyard {
  position    : absolute;
  top         : 328px;
  left        : 545px;
  width       : 60px;
  height      : 77px;
}


.animating { overflow: hidden; }

.scene {
  position : absolute;
  top      : 0;
  right    : 0;
  bottom   : 0;
  left     : 0;
  display  : none;
}

.heading {
  position : absolute;
  top      : 50px;
  left     : 25px;
}

.content {
  position  : absolute;
  top       : 100px;
  left      : 25px;
  width     : 400px;
  font-size : 14px;
}

.navigation {
  position : absolute;
  top      : 25px;
  left     : 25px;
  z-index  : 1;
}