<div class="badge">
<!-- Lockerz Share BEGIN -->
<a class="a2a_dd" href="http://www.addtoany.com/subscribe?linkurl=http%3A%2F%2Fwww.jrubyconf.com%2Fatom.xml&amp;linkname=JRubyConf%20News"><img src="http://static.addtoany.com/buttons/subscribe_16_16.gif" width="16" height="16" border="0" alt="Subscribe"/></a>
<script type="text/javascript">
var a2a_config = {};
a2a_config.linkname = "JRubyConf News";
a2a_config.linkurl = "http://www.jrubyconf.com/atom.xml";
a2a_config.onclick = 1;
</script>
<script type="text/javascript" src="http://static.addtoany.com/menu/feed.js"></script>
<!-- Lockerz Share END -->
</div>
<div class="badge">
<!-- Lockerz Share BEGIN -->
<div class="a2a_kit a2a_default_style">
<a class="a2a_button_twitter"></a>
<a class="a2a_button_facebook"></a>
<a class="a2a_dd" href="http://www.addtoany.com/share_save"></a>
</div>
<script type="text/javascript">
var a2a_config = {};
a2a_config.onclick = 1;
a2a_config.color_main = "f1ead1";
a2a_config.color_border = "af412e";
a2a_config.color_link_text = "333333";
a2a_config.color_link_text_hover = "333333";
</script>
<script type="text/javascript" src="http://static.addtoany.com/menu/page.js"></script>
<!-- Lockerz Share END -->
</div>

